<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weiyian.www.native_camera">
    <!--scan_start-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--scan_end-->

    <application>
        <activity
            android:theme="@style/CameraTheme"
            android:name=".camera.CameraExampleActivity" />
    </application>

</manifest>
